<po-page-edit p-title="Cliente"
    [p-subtitle]="opcao == 2 ? 'Visualizar' : opcao == 3 ? 'Incluir' : opcao == 4 ? 'Alterar' : 'Excluir'"
    (p-cancel)="cancel()"
    (p-save)="save()"
    (p-save-new)="saveNew()"
>
    <form>
        <div class="po-row">
            <po-input class="po-sm-10 po-md-1 po-lg-1" p-label="Código" p-disabled="true"></po-input>
            <po-input class="po-sm-2 po-md-1 po-lg-1" p-label="Loja" name="loja" [(ngModel)]="loja"></po-input>
            <po-input class="po-sm-12 po-md-10 po-lg-10" p-label="Nome"></po-input>
        </div>
    </form>
</po-page-edit>






<!--po-page-edit
    p-title="Cliente"
    [p-subtitle]="opcao == 2 ? 'Visualizar' : opcao == 3 ? 'Incluir' : opcao == 4 ? 'Alterar' : 'Excluir'"
    (p-cancel)="cancel()" (p-save)="save()" (p-save-new)="saveNew()">
    <po-dynamic-form [p-fields]="camposSA1">
    </po-dynamic-form>
</po-page-edit-->